div.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999999;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.overlay > div {
    background-color: dimgray;
    color: white;
    border-radius: 15%;
    width: 600px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 160px;
    font-weight: bold;
}